<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.colocrypter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        >
        <activity android:name="com.colocrypter.LoginView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.colocrypter.ListView"
            android:label="@string/title_activity_list_view"
            android:parentActivityName="com.colocrypter.LoginView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colocrypter.LoginView" />
        </activity>
        <activity android:name="com.colocrypter.ChangePasswordView" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>

        <activity
            android:name="com.colocrypter.EditEntryView"
            android:label="@string/title_activity_edit_entry_view"
            android:parentActivityName="com.colocrypter.ListView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colocrypter.ListView" />
        </activity>
        <activity
            android:name="com.colocrypter.ImportView"
            android:label="@string/title_activity_import_view"
            android:parentActivityName="com.colocrypter.ListView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colocrypter.ListView" />
        </activity>
        <activity
            android:name="com.colocrypter.BackupInstructionsView"
            android:label="@string/title_activity_backup_instructions"
            android:parentActivityName="com.colocrypter.ListView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.colocrypter.ListView" />
        </activity>
    </application>

</manifest>
